<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head" th:inline="text">
    <title>[[#{email.password-reset.title}]]</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{email.greeting(${user.firstName})}">Hi, User.</p>
<p th:text="#{email.password-reset.message(${user.email})}">We received a request...</p>
<a th:href="${resetUrl}" th:text="#{email.password-reset.button}">Set Password</a>
</body>
</html>